.app-logo {
    display: block;
    max-width: 11.25rem;
    height: auto;
    margin: 0 auto;
    padding: 0.625rem 0;
    box-sizing: border-box;
}

.app-header {
    text-align: center;
    padding: 0.625rem 0;
    background-color: #fff000;
}
