body {
    background-color: #fff000;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 1rem;
}
.header {
    margin-top: 2.5rem;
}

.logo {
    width: 80vw;
    max-width: 25rem;
    height: auto;
    margin-bottom: 3.75rem;
}

.buttons {
    margin: 2.5rem 0;
}
.buttons__button {
    display: inline-block;
    margin: 1.25rem;
    text-align: center;
    border: 0.125rem solid #000;
    border-radius: 1rem;
    background-color: #fff;
    padding: 1rem 0;
    min-width: 10rem;
}
.buttons__button:hover {
    background-color: #e0e0e0;
}
.buttons__text {
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
}
.buttons__image {
    width: 8.75rem;
    height: 8.75rem;
    display: block;
    margin: 0 auto;
}
.languages {
    margin-top: 2.5rem;
}
.languages__title {
    margin-bottom: 1.125rem;
    font-size: 2.5rem;
}
.languages__button {
    display: inline-block;
    margin: 0 1.125rem;
    padding: 1.125rem 2rem;
    background-color: #fff;
    border: 0.125rem solid #000;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.25rem;
}
.languages__button:hover {
    background-color: #e0e0e0;
}
.languages__flag {
    width: 4rem;
    height: 3rem;
    display: inline-block;
    vertical-align: middle;
}
.languages__button .languages__flag {
    margin-bottom: 0.75rem;
}