
.order-screen__title {
  font-size: 2.0rem; /* Nog grotere, prominente titel */
  font-weight: bold;
  color: #000; /* Zwarte kleur */
  margin-bottom: 0px;
  text-align: center;
}

/* Stijl voor de instructietekst ("Enjoy your meal!") */
.order-screen__instruction {
  font-size: 1.6rem; /* Grotere, duidelijke tekst */
  font-weight: bold;
  color: #000; /* Zwarte kleur */
  margin-bottom: 0px;
  text-align: center;
}

